{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="starter-template">
  <h1>Welcome to Pasadesa City College</h1>
</div>
<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<p>Pasadena City College is accredited by the Accrediting Commission for Community and Junior Colleges (ACCJC) of the Western Association of Schools and Colleges (WASC).</p>
		<p>In June 2015, the ACCJC put PCC's accreditation on probation, identifying nine separate areas of improvement that the college must address by October 2016. The information below and on these pages demonstrates PCC's work toward this deadline.</p>
		<p>PCC notes that none of the ACCJC's recommendations are directly related to the college's educational quality or service to the community, and looks forward to restoring full accreditation in due course.</p>
	</div>
</div>
{% endblock %}
